@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div id="section-features" class="heading-block text-center page-section">
                <h2>FREQUENTLY ASKED QUESTIONS</h2>
            </div>

            <div class="accordion accordion-border clearfix" data-state="closed">

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        What does XANDADECK allow me to show on my monitors?
                    </div>
                </div>
                <div class="accordion-content">Videos, images, documents, web pages and widgets</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        What are the requirements for using the XANDADECK?
                    </div>
                </div>
                <div class="accordion-content">Internet access and the XANDABOX.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        Do I need any special skills to use XANDADECK or install the XANDABOX?
                    </div>
                </div>
                <div class="accordion-content">Absolutely not! XANDABOX was designed from scratch so that anyone can use it.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        How many monitors does the XANDADECK support per account?
                    </div>
                </div>
                <div class="accordion-content">You can have any number of monitors you need.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        What TVs or monitors does XANDADECK support?
                    </div>
                </div>
                <div class="accordion-content">XANDADECK software supports TVs/monitors with HDMI, of any resolution.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        What about Internet outages?
                    </div>
                </div>
                <div class="accordion-content">What will happen to my monitors? In an event of Internet outage, Xandadeck-enabled screens will continue to work fine, up to a full month.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        Does XANDADECK support monitors mounted vertically?
                    </div>
                </div>
                <div class="accordion-content">Yes. Xandadeck fully supports monitors mounted vertically.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        Does XANDADECK support connecting through a WiFi network?
                    </div>
                </div>
                <div class="accordion-content">Yes.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        Does XANDADECK support connecting through a cellular/mobile network?
                    </div>
                </div>
                <div class="accordion-content">Yes, by using a USB dongle.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        Does XANDADECK support using a static IP?
                    </div>
                </div>
                <div class="accordion-content">Yes.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        How reliable is XANDADECK?
                    </div>
                </div>
                <div class="accordion-content">Very. Nothing can ever affect your screens.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        What types of videos does XANDADECK support?
                    </div>
                </div>
                <div class="accordion-content">XANDADECK supports a wide variety of video formats.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        What types of documents does XANDADECK support?
                    </div>
                </div>
                <div class="accordion-content">We support PDF, PowerPoint (PPT/PPTX), Word (DOC/DOCX), Excel(XLS/XLSX) files.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        How much bandwidth does XANDADECK use?
                    </div>
                </div>
                <div class="accordion-content">XANDADECK requires a substantial amount of bandwidth. Really.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        Does XANDADECK support video walls?
                    </div>
                </div>
                <div class="accordion-content">Yes.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        Is there a storage limit for media upload on XANDADECK?
                    </div>
                </div>
                <div class="accordion-content">No, there is no limit whatsoever. You can upload as many videos and images as you want.</div>

                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed icon-ok-circle"></i>
                        <i class="accordion-open icon-remove-circle"></i>
                    </div>
                    <div class="accordion-title">
                        What about support?
                    </div>
                </div>
                <div class="accordion-content">XANDADECK Provides first-level and second-level support for all users.</div>
            </div>
        </div>
    </div>
</section>
