@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div id="section-features" class="heading-block text-center page-section">
                <h2>RESOURCES</h2>
            </div>

            <div class="row gutter-40 col-mb-80">
                <ul class="list-group">
                    <li class="list-group-item">XANDADECK USER GUIDE <a asp-action="Download" asp-route-fileName="XANDADECK-USER-GUIDE.pdf">[DOWNLOAD]</a></li>
                    <li class="list-group-item">XANDABOX USER GUIDE <a asp-action="Download" asp-route-fileName="XANDABOX-USER-GUIDE.pdf">[DOWNLOAD]</a></li>                    
                </ul>
            </div>
        </div>
    </div>
</section>