@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor host
@{ 

    var url = $"{host.HttpContext.Request.Scheme}://{host.HttpContext.Request.Host}";

}
<header id="header" class="page-section">
    <div id="header-wrap">
        <div class="xanda-container">
            <div class="header-row">

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a asp-action="Index" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="~/images/logo_square.png" alt="Xanda Logo"></a>
                    <a asp-action="Index" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="~/images/logo@2x.png" alt="Xanda Logo"></a>
                </div><!-- #logo end -->

                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu">

                    <ul class="menu-container one-page-menu">
                        <li class="menu-item @(ViewContext.RouteData.Values["Action"].ToString() == "Faq" ? "" : "current")"><a class="menu-link" href=@($"{url}/home/#section-home") data-href="#section-home"><div>Home</div></a></li>
                        <li class="menu-item"><a class="menu-link" href=@($"{url}/#section-features") data-href="#section-features"><div>Features</div></a></li>
                        <li class="menu-item"><a class="menu-link" href=@($"{url}/#section-benefits") data-href="#section-benefits"><div>Benefits</div></a></li>
                        <li class="menu-item">
                            <a class="menu-link" href=@($"{url}/#section-how-it-works") data-href="#section-how-it-works"><div>How It Works</div></a>
                            <ul class="sub-menu-container">
                                <li class="menu-item">
                                    <a class="menu-link" asp-action="Resources"><div>Resources</div></a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item"><a class="menu-link" href=@($"{url}/#section-pricing") data-href="#section-pricing"><div>Pricing</div></a></li>
                        <li class="menu-item @(ViewContext.RouteData.Values["Action"].ToString() == "Faq" ? "current" : "")"><a class="menu-link" href=@($"{url}/Home/Faq")><div>FAQ</div></a></li>
                        <li class="menu-item">
                            <a class="menu-link" href=@($"{url}/#section-contact") data-href="#section-contact"><div>Contact</div></a>
                            <ul class="sub-menu-container">
                                <li class="menu-item">
                                    <a class="menu-link" asp-action="Support"><div>Support</div></a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item"><a class="menu-link" style="font-style:italic; color:red" href=@($"{url}/#section-pricing")><div>Login</div></a></li>
                        <li class="menu-item"><a class="button btn" href=@($"{url}/#section-pricing")><div>Get Started</div></a></li>
                    </ul>

                </nav><!-- #primary-menu end -->

            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header><!-- #header end -->